# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
.vs/

# Environments
.venv/
env/
venv/

# heavy research data and outputs
src/reservoirgrid/datasets/**/*.npy
src/reservoirgrid/datasets/**/*.csv
src/reservoirgrid/datasets/**/*.CSV
research/**/*.pkl
research/**/*.png
research/**/*.html
research/**/*.CSV

# Folders To Ignore, Big and clunky setup data. 
research/HyperParameter/results_lorenz
research/Input_Discretization/Plots/HeatMaps/
research/Input_Discretization/Plots/3DPlots